.v-progress-circular {
  margin: 1rem;
}

.text-center {
  text-align: center;
  margin-top: 25px;
}
.card-games {
  display: inline-block;
  margin: 7px;
  box-shadow: none;
  border: 1px solid #bdbdbd;
}

button {
  box-shadow: none !important;
  border: 1px solid #616161;
  margin-top: 10px;
}
